Server:
  port: 8080
Spring:
  h2:
    console:
      enabled: true
      path: /h2-console
      console.settings.trace: false
      spring.h2.console.settings.web-allow-others: false
      spring.jpa.defer-datasource-initialization: true
  datasource:
    url: jdbc:h2:mem:test
    username: sa
    password: 
    driverClassName: org.h2.Driver
  jpa:
    show-sql: true
    defer-datasource-initialization: true
    database-platform: org.hibernate.dialect.H2Dialect
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher